body {
background: #ff6347;
font-family: helvetica, arial, sans-serif;
}
h1 {
color: black;
text-align: center; 
}
.assign {
display: flex;
padding: 10px;
margin: 10px; background: [green];
}
.assign img {
width: 200px;
padding: 10px; 
}
