body {
background: LightGray;
font-family: Helvetica, Arial, sans-serif;
}
h1 {
color: black;
text-align: center; 
}
.assign {
display: flex;
padding: 10px;
margin: 10px; 
background: LightBlue;
}
.assign img {
width: 200px;
padding: 10px; 
}
